#include <os2.h>
#include "defines.h"

STRINGTABLE
BEGIN
  IDS_VERSION                             "1"
  IDS_REVISION                            "4"
END

BITMAP  IDB_RED     rot.bmp
BITMAP  IDB_BLUE    blau.bmp
BITMAP  IDB_YELLOW  gelb.bmp
BITMAP  IDB_GREEN   gruen.bmp
BITMAP  IDB_PINK    rosa.bmp
BITMAP  IDB_CYAN    tuerkies.bmp
BITMAP  IDB_DARKRED dunkelrot.bmp
BITMAP  IDB_DARKGREEN dunkelgruen.bmp
BITMAP  IDB_ORANGE  orange.bmp
BITMAP  IDB_VIOLET  lila.bmp
BITMAP  IDB_BLACK   schwarz.bmp
BITMAP  IDB_WHITE   weiss.bmp

BITMAP  IDB_WHITEPIN whitepin.bmp
BITMAP  IDB_BLACKPIN blackpin.bmp

POINTER IDP_BLUE    blau.ptr
POINTER IDP_RED     rot.ptr
POINTER IDP_YELLOW  gelb.ptr
POINTER IDP_GREEN   gruen.ptr
POINTER IDP_CYAN    tuerkies.ptr
POINTER IDP_PINK    rosa.ptr
POINTER IDP_DARKRED dunkelrot.ptr
POINTER IDP_DARKGREEN dunkelgruen.ptr
POINTER IDP_ORANGE  orange.ptr
POINTER IDP_VIOLET  lila.ptr
POINTER IDP_BLACK   schwarz.ptr
POINTER IDP_WHITE   weiss.ptr

HELPTABLE MASTERMIND_HELP_TABLE
{
   HELPITEM    ID_MAIN,                  SUBTABLE_MAIN, PANEL_WELCOME
}

HELPSUBTABLE SUBTABLE_MAIN
{
   HELPSUBITEM    IDM_MASTERMIND,        PANEL_MENUMASTERMIND
   HELPSUBITEM    IDM_START,             PANEL_MENUSTART
   HELPSUBITEM    IDM_HIGHSCORE,         PANEL_MENUHIGHSCORE
   HELPSUBITEM    IDM_PAUSE,             PANEL_MENUPAUSE
   HELPSUBITEM    IDM_CANCEL,            PANEL_MENUCANCEL
   HELPSUBITEM    IDM_MULTIPLE,          PANEL_MENUMULTIPLE
   HELPSUBITEM    IDM_LANGUAGE,          PANEL_MENULANGUAGE
   HELPSUBITEM    IDM_PINSELECTION,      PANEL_MENUPINS
   HELPSUBITEM    IDM_EXIT,              PANEL_MENUEXIT
   HELPSUBITEM    IDM_HELP,              PANEL_MENUHELP
   HELPSUBITEM    IDM_GENERALHELP,       PANEL_MENUGENERALHELP
   HELPSUBITEM    IDM_RULES,             PANEL_MENURULES
   HELPSUBITEM    IDM_HOWTOPLAY,         PANEL_MENUHOWTOPLAY
   HELPSUBITEM    IDM_LICENSE,           PANEL_MENULICENSE
   HELPSUBITEM    IDM_ABOUT,             PANEL_MENUABOUT
}
