/**********************************************/
/* This is the language-dependent file for    */
/* Mastermind/2. Please translate everything  */
/* that's necessary into your language.       */
/* For some texts I have added an additional  */
/* annotation, explanation etc. If you are    */
/* unsure about something please take either  */
/* a look at this file in another language or */
/* contact the author.                        */
/* Please try always to make your translated  */
/* text about the same length as the original.*/
/* This will prevent the text from reaching   */
/* out of his boundaries.                     */
/*                                            */
/* TIP: If you edit this file with OS/2's     */
/*      enhanced editor epm you can turn on   */
/*      keyword-highlighting. This will give  */
/*      better results for viewing.           */
/*                                            */
/* Ren‚ Auberger (r.auberger@gmx.net)         */
/* 20 Feb 1999                                */
/**********************************************/

#include <os2.h>
#include "defines.h"

/**********************************************/
/* The menu for the game. The tilde ~         */
/* indicates which character will be          */
/* underlined in the menu and can be pressed  */
/* on the keyboard for quick access. Set it   */
/* in front of the appropriate characters in  */
/* your language.                             */
/**********************************************/
MENU ID_MAIN
BEGIN
   SUBMENU "~Mastermind", IDM_MASTERMIND                 /* should not be changed */
   BEGIN
      MENUITEM "~Nouvelle partie", IDM_START              /* translate the following */
      MENUITEM "~Pause\tPause", IDM_PAUSE, 0, 0x4000   /* \t means "leave some space", then follows the name of the key that correspondes to this menu item (please do not change) */
      MENUITEM "~Annuler\tEsc", IDM_CANCEL, 0, 0x4000   /* \t means "leave some space", then follows the name of the key that correspondes to this menu item (please do not change) */
      MENUITEM "", IDM_SEPARATOR1, 0x4
      MENUITEM "~Haut pointage...", IDM_HIGHSCORE
      MENUITEM "", IDM_SEPARATOR2, 0x4
      MENUITEM "~Couleurs Multiples", IDM_MULTIPLE, 0, 0x2000
      SUBMENU  "~Langue", IDM_LANGUAGE
      BEGIN
      END
      MENUITEM "Selection pins … ~utiliser...", IDM_PINSELECTION
      MENUITEM "", IDM_SEPARATOR3, 0x4
      MENUITEM "~Sortie de Mastermind\tAlt+F4", IDM_EXIT         /* \t means "leave some space", then follows the name of the key that correspondes to this menu item (please do not change) */
   END
   SUBMENU "~Aide", IDM_HELP
   BEGIN
      MENUITEM "~Aide G‚n‚ral...\tF1", IDM_GENERALHELP
      MENUITEM "~RŠgles...", IDM_RULES
      MENUITEM "~Comment jouer...", IDM_HOWTOPLAY
      MENUITEM "~License...", IDM_LICENSE
      MENUITEM "", IDM_SEPARATOR4, 0x4
      MENUITEM "~· propos de...", IDM_ABOUT
   END
END

/**********************************************/
/* This will be the about-dialog shown at     */
/* start and after selecting Help/about.      */
/* Please try to keep the translated texts at */
/* about the same length as the original ones.*/
/**********************************************/
DLGTEMPLATE DLG_ABOUT LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "· propos de Mastermind/2", DLG_ABOUT, 0, 0, 0, 0, WS_VISIBLE | FS_SCREENALIGN
    BEGIN
        CONTROL         IDB_LOGO, IDB_LOGO, 2, 67, 18, 20, WC_STATIC,
                        SS_BITMAP | WS_GROUP | WS_VISIBLE
        CTEXT           "Ce programme est (postcardware). Distribuez le" , IDT_ABOUT1, 4, 55, 168, 8
        CTEXT           "… vos amis, et informez moi … r.auberger@gmx.net." , IDT_ABOUT2, 4, 48, 168, 8
        CTEXT           "S.V.P. Une carte postale suffit pour licencer ce logiciel:" , IDT_ABOUT3, 4, 41, 168, 8
        CTEXT           "Ren‚ Auberger, Breitensteiner Str. 11" , IDT_ABOUT4, 4, 31, 168, 8
        CTEXT           "D-71032 B”blingen, Allemagne" , IDT_ABOUT5, 4, 24, 168, 8
    END
END

/**********************************************/
/* The highscore-dialog. Only the title is    */
/* needed, the rest is specified down below.  */
/**********************************************/
DLGTEMPLATE DLG_HIGHSCORE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "Mastermind/2 Haut pointages", DLG_HIGHSCORE, 0, 0, 0, 0, WS_VISIBLE | FS_SCREENALIGN, FCF_TITLEBAR
    BEGIN
    END
END

DLGTEMPLATE DLG_QUERYNAME LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "Mastermind/2 Haut pointages", DLG_QUERYNAME, 0, 0, 0, 0, WS_VISIBLE | FS_SCREENALIGN, FCF_TITLEBAR
    BEGIN
         CTEXT           "F‚licitations!!!", IDT_QNT1, 5, 65, 205, 8
         CTEXT           "", IDT_QNT2, 5, 50, 205, 8                    /* These two text's will be set during the runtime. But */
         CTEXT           "", IDT_QNT3, 5, 42, 205, 8                    /* they will be read from a little bit further down. */
         LTEXT           "Votre Nom:", IDT_QNT4, 35, 26, 40, 8          /* The length of this one shouldn't change too much. */
         ENTRYFIELD      "", IDE_QN, 76, 28, 91, 8, ES_LEFT | ES_MARGIN
    END
END


DLGTEMPLATE DLG_PINSELECTION LOADONCALL MOVEABLE DISCARDABLE
BEGIN
   DIALOG  "Mastermind/2 selection des pins", DLG_PINSELECTION, 0, 0, 0, 0, WS_VISIBLE | FS_SCREENALIGN, FCF_TITLEBAR
   BEGIN
      CTEXT              "Selectionnez les six pins que vous voules utiliser:", IDT_SELECTPIN1, 3, 114, 139, 8
   END
END


/**********************************************/
/* Ok, now the the final but biggest part of  */
/* your work. And please remember: try to     */
/* keep it at about the same length.          */
/**********************************************/
STRINGTABLE
BEGIN
   IDS_LANGUAGE                          "Fran‡ais"            /* please enter the name of the language, e.g. English, Deutsch, ... */
   IDS_STARTNEWGAME                      "Nouvelle partie"
   IDS_TIMERERROR                        "Le Programme n'a pu initialiser la minuterie. Le programme arrˆtera. Essayez de le red‚marrer. Si le red‚marrage ne r‚sous pas le problŠme communiquez avec l'auteur."
   IDS_NOTSTARTED                        "Jeu non d‚marr‚."
   IDS_GUESS                             "Devinez mes couleurs:"
   IDS_AVAILABLE                         "Couleurs disponibles:"
   IDS_DROPHERE                          "Mettre vos couleurs ici:"
   IDS_RIGHTCOLOR                        "Couleur OK"
   IDS_WRONGPLACE                        "Positions Mal:"
   IDS_RIGHTPLACE                        "Positions OK:"
   IDS_GAMEPAUSED                        "Pause"
   IDS_EXIT                              "Sortie Mastermind/2"       /* Title for dialog                           */
   IDS_REALLYQUIT                        "Voulez-vous vraiment quitter? Le jeu en cours sera annul‚!"
   IDS_FIRSTTRY                          "premier essai"
   IDS_SECONDTRY                         "second essai"
   IDS_THIRDTRY                          "troistŠme essai"
   IDS_FOURTHTRY                         "quatriŠme essai"
   IDS_FIFTHTRY                          "cinquiŠme essai"
   IDS_SIXTHTRY                          "sixiŠme essai"
   IDS_SEVENTHTRY                        "septiŠme essai"
   IDS_EIGHTTHTRY                        "huitiŠme essai"
   IDS_NINETHTRY                         "reste deux essais"
   IDS_TENTHTRY                          "dernier essai"
   IDS_START                             "Nouveau jeu"         /* Title for dialog                           */
   IDS_REALLYSTART                       "Voulez-vous vraiment un nouveau jeu? Le jeu en cours sera annul‚!"
   IDS_CANCEL                            "Annuler le jeu"            /* Title for dialog                           */
   IDS_REALLYCANCEL                      "Voulez-vous vraiment annuler ce jeu? Un jeu annul‚ ne sera pas inclus dans les haut pointages, si vous voulez une pause, faite 'Non' puis 'Pause'."
   IDS_PAUSE                             "~Pause\tPause"            /* Text for changing menu-item. Should be same as above in the menu-definition */
   IDS_UNPAUSE                           "~Fin de la pause\tPause"          /* Text for changing menu-item.               */
   IDS_NOHIGHSCORE                       "Pas de haut pointage!"
   IDS_OHNO                              "Oh non, vous n'avez pas la solution. Il vous a fallu"   /* These three will are used for the          */
   IDS_MINUTESANDLOOSE                   "minutes et"                            /* sentence if you loose. Minutes             */
   IDS_SECONDSTOWASTE                    "secondes pour 10 essais..."           /* and seconds are filled in from the program */
   IDS_DAMN                              "Bon Dieu!"     /* Title for messagebox if you loose */
   IDS_TIME                              "Temps:"
   IDS_YOUNEEDED                         "Il vous a fallu"               /* If you win and can enter your     */
   IDS_TRIES                             "essais ("                  /* name into the highscores this     */
   IDS_MINUTESANDWIN                     "minutes et"              /* text will be displayed and        */
   IDS_SECONDS                           "secondes),"                /* the program fills in the minutes, */
   IDS_THATSRANK                         "le rang"              /* seconds and the rank              */
   IDS_OFTHEHIGHSCORES                   "du pointage!"       /* in the highscores.                */
   IDS_YOUONLYNEEDED                     "Il ne vous a fallu qu'un essai ("                                         /* If you need only one         */
   IDS_MINUTESANDONE                     "minutes et"                                                     /* try this message is diplayed */
   IDS_SECONDSONE                        "secondes), allez au"                                       /* and minutes and seconds are  */
   IDS_CASINO                            "casino et ne perdez plus votre temps avec mastermind ;-). That's rank" /* filled in                    */
   IDS_AFTERRANK                         "!"                                                               /* End of the sentence. Maybe some languages need it for words, e.g. "Blah blurb. That's rank 3!" in german "Blah blub. Das ist der 3. Rang!" so you would change it into ". Rang!" */
   IDS_OPENERROR                         "Je n'ai pu ‚crire dans le fichier Haut pointage!\n\nR‚essayez?"
   IDS_ERRORTITLE                        "Mastermind/2 erreur"        /* Title for dialog                           */
   IDS_HELPTITLE                         "Mastermind/2 Aide"         /* Title for help-window                      */
   IDS_HELPERROR                         "Incapable de cr‚er le fichier Aide!"
   IDS_HELPERROR2                        "Incapable d'associer le fichier Aide avec une fenˆtre!"
   IDS_WRITEINIERROR                     "Je n'ai pu ‚crire votre param‚trisation sur le disque (mmind.ini)!\n\nR‚essayez?"
   IDS_OKBUTTON                          "OK"                    /* Text for Pushbuttons */
   IDS_CANCELBUTTON                      "Annuler"                /* Text for Pushbuttons */
   IDS_HIGHSCORENAME                     "Nom"               /* Title for column in highscore */
   IDS_HIGHSCORETIME                     "Temps"               /* Title for column in highscore */
   IDS_HIGHSCORERANK                     "Rang"               /* Title for column in highscore */
   IDS_HIGHSCORETRIES                    "essais"              /* Title for column in highscore */
END
/**********************************************/
/* You've reached the finish. Thanks for your */
/* work.                                      */
/**********************************************/

ICON    ID_MAIN     MMIND.ICO
BITMAP  IDB_LOGO    logo.bmp

ACCELTABLE ID_MAIN PRELOAD
{
   VK_PAUSE, IDM_PAUSE,                  AF_VIRTUALKEY
   VK_ESC, IDM_CANCEL,                   AF_VIRTUALKEY
}

