/*********************************************************************
 *                                                                   *
 * MODULE NAME :  cnrbase.rc             AUTHOR:  Rick Fishman       *
 * DATE WRITTEN:  10-09-92                                           *
 *                                                                   *
 * DESCRIPTION:                                                      *
 *                                                                   *
 *  Resource file for CNRBASE.EXE.                                   *
 *                                                                   *
 * HISTORY:                                                          *
 *                                                                   *
 *  10-09-92 - File Created                                          *
 *                                                                   *
 *  Rick Fishman                                                     *
 *  Code Blazers, Inc.                                               *
 *  4113 Apricot                                                     *
 *  Irvine, CA. 92720                                                *
 *  CIS ID: 72251,750                                                *
 *                                                                   *
 *********************************************************************/

#include <os2.h>
#include "address.h"
#include "modemdlg.h"
#include "fontsdlg.h"

MENU ID_RESOURCES
{
    SUBMENU  "~Ansicht", -1
    {
        MENUITEM "~Tree/Icon",        IDM_TREE
        MENUITEM "~Name/flowed",      IDM_NAME
        MENUITEM "~Icon",             IDM_ICON
        MENUITEM "~Details",          IDM_DETAILS
        MENUITEM "T~ext/flowed",      IDM_TEXT
    }
   SUBMENU "~Kontrolle", 0
      {
      MENUITEM "~Protokoll anzeigen", IDM_Trace, MIS_TEXT
      MENUITEM "Protokoll ~lîschen", IDM_Traceclear, MIS_TEXT
      MENUITEM "~ZurÅck zur Adre·Åbersicht", IDM_Traceback, MIS_TEXT
      MENUITEM SEPARATOR
      MENUITEM "~e Ende - Anwendung schlie·en (Alt+F4)", IDM_Ende, MIS_TEXT
      }
   SUBMENU "~Auswahl", 0
      {
      MENUITEM "~1 Ansehen   (Alt+a)", IDM_Auswahl1, MIS_TEXT
      MENUITEM "~2 éndern    (Alt+Ñ)", IDM_Auswahl2, MIS_TEXT
      MENUITEM "~3 Neuanlage (Alt+n)", IDM_Auswahl3, MIS_TEXT
      MENUITEM SEPARATOR
      MENUITEM "~4 Suchen    (Alt+s)", IDM_Auswahl4, MIS_TEXT
      SUBMENU "~5 Drucken", 0
         {
         MENUITEM "~a alle Adressen    (Alt+l)", IDM_Auswahl6, MIS_TEXT
         MENUITEM "~b Auswahlliste     (Alt+u)", IDM_Auswahl7, MIS_TEXT
         MENUITEM "~c Bildschirminhalt (Alt+b)", IDM_Auswahl8, MIS_TEXT
         }
      MENUITEM SEPARATOR
      MENUITEM "~6 Lîschen   (Alt+î)", IDM_Auswahl9, MIS_TEXT
         }
      SUBMENU "~Einstellungen", 0
         {
         MENUITEM "~Modem", IDM_Modem, MIS_TEXT
         MENUITEM "~FontDlg", IDM_Fonts, MIS_TEXT
         }

}
rcinclude modemdlg.dlg
rcinclude fontsdlg.dlg

/*********************************************************************
 *                  E N D     O F     S O U R C E                    *
 *********************************************************************/
